<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--        必需属性-->

        <!--    数据库连接基本信息-->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate?serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Gzx970712</property>
        <!--        hibernate的方言-->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!--        可选属性-->

        <!--        显示真实sql-->
        <property name="hibernate.show_sql">true</property>
        <!--        格式化sql-->
        <property name="hibernate.format_sql">true</property>
        <!--    通过配置文件自动建表-->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.auto"></property>

        <!--        改为c3p0连接池-->
        <property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider
        </property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.min_size">5</property>
        <!-- 连接池里连接的超时时长 -->
        <property name="hibernate.c3p0.timeout">2000</property>
        <!--最大缓存多少个statement对象  -->
        <property name="hibernate.c3p0.max_statements">10</property>
        <!-- 该线程会根据时间差值判断要不要把超时的连接移除 -->
        <property name="hibernate.c3p0.idle_test_period">2000</property>
        <!-- 当连接池耗尽时，Hibernate应该向数据库一次性申请的连接数 -->
        <property name="hibernate.c3p0.acquire_increment">10</property>

        <!--        映射文件-->
        <!--        通知hibernate需要加载哪些映射文件-->
        <mapping resource="com/model/User.hbm.xml"/>

    </session-factory>

</hibernate-configuration>